Source: switchboard-plug-security-privacy
Section: x11
Priority: optional
Maintainer: Corentin Noël <tintou@mailoo.org>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libglib2.0-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.11.6),
               libpolkit-gobject-1-dev,
               libswitchboard-2.0-dev,
               libzeitgeist-2.0-dev,
               valac-0.24 | valac (>= 0.23.2)
Standards-Version: 3.9.5
Homepage: https://launchpad.net/pantheon-plugs

Package: switchboard-plug-security-privacy
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: switchboard
Description: Manage security and privacy
 Switchboard plug for managing the security and privacy of your system.

Package: switchboard-plug-security-privacy-dbg
Architecture: any
Section: debug
Priority: extra
Depends: switchboard-plug-security-privacy (= ${binary:Version}),
         ${misc:Depends}
Enhances: switchboard-plug-security-privacy
Description: Manage security and privacy (debugging symbols)
 Switchboard plug for managing the security and privacy of your system.
 .
 This package contains debugging symbols for switchboard-plug-template.
