Source: io.elementary.settings.security-privacy
Section: x11
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libglib2.0-dev,
               libgranite-7-dev,
               libgtk-4-dev,
               libpolkit-gobject-1-dev,
               libswitchboard-3-dev,
               libzeitgeist-2.0-dev,
               meson (>= 0.46.1),
               policykit-1,
               valac (>= 0.34.1)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/switchboard-plug-security-privacy

Package: io.elementary.settings.security-privacy
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         gala,
         gnome-settings-daemon-common,
         io.elementary.settings-daemon (>=1.3.0),
         ufw,
         zeitgeist
Enhances: io.elementary.settings
Description: Manage security and privacy
 Settings plugin for managing the security and privacy of your system.
