[Desktop Entry]
Name=Security & Privacy
Comment=Privacy and Activity Manager
Exec=switchboard -o pantheon-security-privacy
Icon=preferences-system-privacy
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-PANTHEON-Switchboard-Plugs;PersonalSettings
OnlyShowIn=Pantheon;
Keywords=Lock;Track;Firewall;ufw;
X-GNOME-Gettext-Domain=pantheon-security-privacy-plug